
.kpi-background-color {
    background-color: #1f7697;
}

/* Signing page */
.signin-body {
    margin-top: 30px;
}

.signin-blank {
    height: 20px;
}

.signin-input-group {
    text-align: center;
    background-color: #0c5f7e;
    border: 1px;
    border-color: #1f7697;
    border-radius: 8px
}

.signin-input-group > input {
    /* box-shadow: rgba(0, 0, 0, 0.03) 0px 0.41701px 0.41701px 0px inset, rgba(102, 175, 233, 0.25) 0px 0px 3.33608px 0px; */
    background-color: #0c5f7e;
    border: none;
    color: #ffffff;
    box-shadow: none
}

.signin-input-group > .input-group-addon {
    background-color: #0c5f7e;
    border: none;
    color: #ffffff;
}

.signin-form, .signin-form button {
    margin: auto;
    width: 400px;
}

.text-white {
    color: #ffffff;
}

.kpi-signin-page-layout {
    /* align-content: center; */
    text-align: center;
}

.signin-form > a {
    color: #d58512;
    /*color: #130f6f;*/
    font-size: 18px;
}

.signin-fail {
    background-color: #d03737;
    color: #ffffff;
    font-size: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-color: transparent;
    display: block;
    vertical-align: center;
}

.signin-form > a:hover, .signin-form > a:focus, .signin-form > a:active {
    color: #e38d13;

    /*color: #0e15a1;*/
}


/* END Signin page */
