.btn-kpi-default {
  color: #ffffff;
  background-color: #0a7db5;
  border-color: #0a7db5;
}
.btn-kpi-default:focus,
.btn-kpi-default.focus {
  color: #ffffff;
  background-color: #075c85;
  border-color: #032a3c;
}
.btn-kpi-default:hover {
  color: #ffffff;
  background-color: #075c85;
  border-color: #07557b;
}
.btn-kpi-default:active,
.btn-kpi-default.active,
.open > .dropdown-toggle.btn-kpi-default {
  color: #ffffff;
  background-color: #075c85;
  border-color: #07557b;
}
.btn-kpi-default:active:hover,
.btn-kpi-default.active:hover,
.open > .dropdown-toggle.btn-kpi-default:hover,
.btn-kpi-default:active:focus,
.btn-kpi-default.active:focus,
.open > .dropdown-toggle.btn-kpi-default:focus,
.btn-kpi-default:active.focus,
.btn-kpi-default.active.focus,
.open > .dropdown-toggle.btn-kpi-default.focus {
  color: #ffffff;
  background-color: #054463;
  border-color: #032a3c;
}
.btn-kpi-default:active,
.btn-kpi-default.active,
.open > .dropdown-toggle.btn-kpi-default {
  background-image: none;
}
.btn-kpi-default.disabled:hover,
.btn-kpi-default[disabled]:hover,
fieldset[disabled] .btn-kpi-default:hover,
.btn-kpi-default.disabled:focus,
.btn-kpi-default[disabled]:focus,
fieldset[disabled] .btn-kpi-default:focus,
.btn-kpi-default.disabled.focus,
.btn-kpi-default[disabled].focus,
fieldset[disabled] .btn-kpi-default.focus {
  background-color: #0a7db5;
  border-color: #0a7db5;
}
.btn-kpi-default .badge {
  color: #0a7db5;
  background-color: #ffffff;
}
.btn-kpi-default-inverse {
  color: #0a7db5;
  background-color: #ffffff;
  border-color: #0a7db5;
}
.btn-kpi-default-inverse:focus,
.btn-kpi-default-inverse.focus {
  color: #ffffff;
  background-color: #0a7db5;
  border-color: #032a3c;
}
.btn-kpi-default-inverse:hover {
  color: #ffffff;
  background-color: #0a7db5;
  border-color: #0a7db5;
}
.btn-kpi-default-inverse:active,
.btn-kpi-default-inverse.active,
.open > .dropdown-toggle.btn-kpi-default-inverse {
  color: #ffffff;
  background-color: #0a7db5;
  border-color: #0a7db5;
}
.btn-kpi-default-inverse:active:hover,
.btn-kpi-default-inverse.active:hover,
.open > .dropdown-toggle.btn-kpi-default-inverse:hover,
.btn-kpi-default-inverse:active:focus,
.btn-kpi-default-inverse.active:focus,
.open > .dropdown-toggle.btn-kpi-default-inverse:focus,
.btn-kpi-default-inverse:active.focus,
.btn-kpi-default-inverse.active.focus,
.open > .dropdown-toggle.btn-kpi-default-inverse.focus {
  color: #ffffff;
  background-color: #0a7db5;
  border-color: #0a7db5;
}
.btn-kpi-default-inverse:active,
.btn-kpi-default-inverse.active,
.open > .dropdown-toggle.btn-kpi-default-inverse {
  background-image: none;
}
.btn-kpi-default-inverse.disabled:hover,
.btn-kpi-default-inverse[disabled]:hover,
fieldset[disabled] .btn-kpi-default-inverse:hover,
.btn-kpi-default-inverse.disabled:focus,
.btn-kpi-default-inverse[disabled]:focus,
fieldset[disabled] .btn-kpi-default-inverse:focus,
.btn-kpi-default-inverse.disabled.focus,
.btn-kpi-default-inverse[disabled].focus,
fieldset[disabled] .btn-kpi-default-inverse.focus {
  background-color: #ffffff;
  border-color: #0a7db5;
}
.btn-kpi-default-inverse .badge {
  color: #ffffff;
  background-color: #0a7db5;
}
body {
  background: #ececec;
}
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}
.navbar-brand {
  color: #45ffff !important;
}
.navbar-brand:hover,
.navbar-brand:focus,
.navbar-brand:active {
  color: #eaf0ff !important;
}
.navbar-default .navbar-nav #user-profile {
  height: 50px;
  padding-top: 15px;
  padding-left: 58px;
  color: #ffffff;
}
.navbar-default .navbar-nav #user-profile:hover,
.navbar-default .navbar-nav #user-profile:active,
.navbar-default .navbar-nav #user-profile:focus {
  background-color: #08547a !important;
  color: #3ee5e5;
}
.navbar-default .navbar-nav #user-profile img {
  height: 45px;
  width: 45px;
  position: absolute;
  top: 2px;
  left: 8px;
  padding: 1px;
}
.navbar-default .navbar-nav #user-profile-dropdown {
  background-color: #08547a;
  color: #ffffff !important;
  border: none;
}
.navbar-default .navbar-nav #user-profile-dropdown > li,
.navbar-default .navbar-nav #user-profile-dropdown > li > a {
  background-color: inherit;
  color: inherit;
  border: inherit;
}
.navbar-default .navbar-nav #user-profile-dropdown > li:hover,
.navbar-default .navbar-nav #user-profile-dropdown > li > a:hover {
  background-color: #09638f;
  color: #3ee5e5 !important;
  border: none;
}
.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #0c7db4 !important;
}
.navbar-collapse,
.navbar-form {
  border: none;
}
#navbar-search-box .input-group input,
#navbar-search-box .input-group .btn {
  background-color: #08547a;
  color: #ffffff;
  border-color: #0a7db5;
  /*box-shadow: none;*/
}
#wrapper {
  padding-top: 50px;
  padding-left: 48px;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
#wrapper #sidebar-wrapper {
  /*z-index: 1000;*/
  position: fixed;
  left: 225px;
  width: 0;
  height: 100%;
  margin-left: -225px;
  /*overflow-x: auto;*/
  background: #09638f;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
#wrapper #sidebar-wrapper #sidebar #sidemenu li a {
  white-space: nowrap;
  overflow: hidden;
}
#wrapper #sidebar-wrapper #sidebar #sidemenu li a.active {
  background-color: #09638f !important;
  border-left: solid 2px #4cd738;
  background-color: #0a7db5 !important;
}
#wrapper #sidebar-wrapper #sidebar #sidemenu li .active > i {
  padding-left: 0px;
}
#wrapper #sidebar-wrapper #sidebar #sidemenu li ul.panel-collapse {
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  /*-webkit-transition: max-height 2s ease-in;*/
  /*transition: max-height 2s ease-in;*/
}
#wrapper #sidebar-wrapper .sidebar-nav {
  /*position: absolute;*/
  top: 0;
  /*width: 225px;*/
  font-size: 14px;
  margin: 0;
  padding: 0;
  list-style: none;
}
#wrapper #sidebar-wrapper .sidebar-nav li {
  text-indent: 0;
  line-height: 45px;
}
#wrapper #sidebar-wrapper .sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #0a7db5;
}
#wrapper #sidebar-wrapper .sidebar-nav li a:hover {
  background-color: #0a7db5 !important;
}
#wrapper #sidebar-wrapper .sidebar-nav li a .sidebar-icon {
  width: 45px;
  height: 45px;
  font-size: 14px;
  padding: 0 2px;
  display: inline-block;
  text-indent: 4px;
  margin-left: 0px;
  margin-right: 10px;
  color: #fff;
  float: left;
}
#wrapper #sidebar-wrapper .sidebar-nav li a .caret {
  position: absolute;
  right: 23px;
  top: auto;
  margin-top: 20px;
}
#wrapper #sidebar-wrapper .sidebar-nav li a i {
  text-align: center;
  vertical-align: middle;
  line-height: 44px;
}
#wrapper #sidebar-wrapper .sidebar-nav li ul.panel-collapse {
  list-style: none;
  -moz-padding-start: 0;
  -webkit-padding-start: 0;
  -khtml-padding-start: 0;
  -o-padding-start: 0;
  padding-start: 0;
  padding: 0;
}
#wrapper #sidebar-wrapper .sidebar-nav li ul.panel-collapse li i {
  margin-right: 10px;
}
@media (min-width: 992px) {
  #wrapper {
    padding-left: 225px;
  }
  #navbar-search-box {
    width: 50% !important;
  }
}
#sidebar-toggle {
  text-decoration: none;
}
#sidebar-toggle .fa-chevron-right {
  display: none;
}
.sidebar-toggle-active .fa-chevron-left {
  display: none !important;
}
.sidebar-toggle-active .fa-chevron-right {
  display: block !important;
}
.sidebar-toggle-disable .fa-chevron-left {
  display: block !important;
}
.sidebar-toggle-disable .fa-chevron-right {
  display: none !important;
}
@media (min-width: 768px) {
  #navbar-search-box {
    width: 50% !important;
  }
  .wrapper-minibar #sidebar-wrapper #sidebar #sidemenu > li:active,
  .wrapper-minibar #sidebar-wrapper #sidebar #sidemenu > li:focus,
  .wrapper-minibar #sidebar-wrapper #sidebar #sidemenu > li:hover {
    position: relative;
    z-index: 1000;
    width: 275px;
  }
  .wrapper-minibar #sidebar-wrapper #sidebar #sidemenu > li:active ul,
  .wrapper-minibar #sidebar-wrapper #sidebar #sidemenu > li:focus ul,
  .wrapper-minibar #sidebar-wrapper #sidebar #sidemenu > li:hover ul {
    display: block !important;
  }
  .sidemenu-item-dropdown-open ul {
    display: block !important;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }
}
.wrapper-minibar {
  padding-left: 48px !important;
}
.wrapper-minibar #sidebar-wrapper {
  width: 48px !important;
}
.wrapper-minibar #sidebar-wrapper #sidebar #sidemenu {
  width: 48px;
}
.wrapper-minibar #sidebar-wrapper #sidebar #sidemenu li {
  z-index: 1000;
}
.wrapper-minibar #sidebar-wrapper #sidebar #sidemenu li .caret {
  display: none;
}
.wrapper-minibar #sidebar-wrapper #sidebar #sidemenu li ul {
  position: fixed;
  left: 49px;
  z-index: -1;
  width: 225px;
  height: 0;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
@media (min-width: 992px) {
  #wrapper #sidebar-wrapper {
    width: 225px;
  }
  .kpi-logo {
    width: 195px;
  }
}
.sidebar-toggle {
  float: left;
  width: 28px;
  padding-right: 7px;
  padding-left: 7px;
  height: 50px;
  color: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.sidebar-toggle:hover {
  background-color: #08547a;
  color: #ffffff;
}
.sidebar-toggle:active,
.sidebar-toggle:focus {
  color: #ffffff;
}
.sidebar-toggle > i {
  padding-top: 15px;
  text-align: center;
  line-height: 20px;
}
@media (max-width: 992px) {
  #wrapper #sidebar-wrapper {
    width: 48px;
  }
  #wrapper #sidebar-wrapper #sidebar #sidemenu li ul {
    position: fixed;
    left: 49px;
    /*margin-top: -5px;*/
    z-index: 1000;
    width: 200px;
    height: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }
  #wrapper #sidebar-wrapper #sidebar #sidemenu > li:active,
  #wrapper #sidebar-wrapper #sidebar #sidemenu > li:focus,
  #wrapper #sidebar-wrapper #sidebar #sidemenu > li:hover {
    position: relative;
    z-index: 1000;
    width: 250px;
  }
  #wrapper #sidebar-wrapper #sidebar #sidemenu > li:hover ul {
    display: block !important;
  }
}
.sidebar-nav > li,
.sidebar-nav > li > a,
.submenu > li > a {
  width: 100%;
  padding: 1px;
}
.sidebar-nav li a {
  background: #09638f !important;
  color: #fff !important;
}
/*<!--      SIDE BAR     -->*/
.kpi-background-color {
  background-color: #09638f;
}
/* Sign in page */
.signin-body {
  margin-top: 30px;
  text-align: center;
}
.signin-blank {
  height: 20px;
}
.signin-input-group {
  text-align: center;
  background-color: #08547a;
  border: 1px;
  border-color: #08547a;
  border-radius: 8px;
}
.signin-input-group > input {
  /* box-shadow: rgba(0, 0, 0, 0.03) 0px 0.41701px 0.41701px 0px inset, rgba(102, 175, 233, 0.25) 0px 0px 3.33608px 0px; */
  background-color: #08547a;
  border: none;
  color: #ffffff;
  box-shadow: none;
}
.signin-input-group > .input-group-addon {
  background-color: #08547a;
  border: none;
  color: #ffffff;
}
.signin-form,
.signin-btn {
  margin: auto;
  width: 400px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.signin-btn {
  border-color: #109b09;
  background-color: #109b09;
}
.signin-btn:hover,
.signin-btn:active,
.signin-btn:focus {
  background-color: #109b09;
  box-shadow: none;
}
.text-white {
  color: #ffffff;
}
.kpi-signin-page-layout {
  /* align-content: center; */
  text-align: center;
}
.signin-form > a {
  color: #d58512;
  /*color: #130f6f;*/
  font-size: 18px;
}
.signin-fail {
  background-color: #b34848;
  color: #ffffff;
  font-size: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-color: transparent;
  display: block;
  vertical-align: center;
  width: 400px;
  margin: auto;
}
.signin-form > a:hover,
.signin-form > a:focus,
.signin-form > a:active {
  color: #e38d13;
}
/* END Sign in page */
.navbar {
  margin: auto;
  background-color: #09638f;
  color: #c2f3f5;
  border: none;
  font-size: 18px;
}
#page-content-wrapper {
  margin: 15px;
  border-radius: 6px;
}
.footer p {
  padding: 10.5px;
  margin: 0px;
  line-height: 100%;
}
.footer a {
  color: #45ffff;
  text-decoration: none;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  background-color: #09638f;
  text-align: center;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px;
  /* Vertically center the text there */
}
.page-header {
  margin: 10px 0 10px;
  padding-left: 15px;
  padding-right: 15px;
  color: #09638f;
}
#panel-footer {
  border-top: solid 1px #d7d7d7 !important;
}
.background-color-indigo,
.user-action-btn:hover,
.user-action-btn:active {
  background-color: #096b9a;
  color: #ffffff;
}
.color-indigo {
  color: #096b9a;
}
.kpi-maincolor-bordered,
.kpi-maincolor-bordered .list-group-item,
.user-action-btn,
.user-action-btn:focus {
  background-color: #ffffff;
  border-color: #09638f !important;
  color: #09638f;
}
.user-table,
.user-table th,
.user-table td,
.user-table a,
.user-table th a,
.user-table td a {
  border-color: #ececec !important;
  color: #09638f;
}
.user-table .user-row,
.user-table th .user-row,
.user-table td .user-row,
.user-table a .user-row,
.user-table th a .user-row,
.user-table td a .user-row {
  min-width: 52px;
}
.user-table .user-row input,
.user-table th .user-row input,
.user-table td .user-row input,
.user-table a .user-row input,
.user-table th a .user-row input,
.user-table td a .user-row input {
  background-color: transparent;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding-left: 0px;
  color: #09638f;
}
.user-table .user-row input.editable,
.user-table th .user-row input.editable,
.user-table td .user-row input.editable,
.user-table a .user-row input.editable,
.user-table th a .user-row input.editable,
.user-table td a .user-row input.editable {
  background-color: white !important;
  border: solid 1px #ececec !important;
  padding-left: 12px !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
}
.user-table .user-row input.editable:focus,
.user-table th .user-row input.editable:focus,
.user-table td .user-row input.editable:focus,
.user-table a .user-row input.editable:focus,
.user-table th a .user-row input.editable:focus,
.user-table td a .user-row input.editable:focus {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6) !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6) !important;
}
.popover {
  background-color: #08547a;
  color: #ffffff;
}
.popover.left .arrow::after {
  border-left-color: #08547a !important;
}
.btn-green {
  color: #ffffff;
  background-color: #11a309;
}
.btn-green:hover,
.btn-green:active,
.btn-green:focus {
  color: #ffffff;
  background-color: #109708;
}
.user-action-btn,
.user-action-btn:focus {
  margin: 2px;
}
.user-action-btn:hover,
.user-action-btn:active {
  text-decoration: none;
}
.text-middle {
  vertical-align: middle !important;
}
.panel {
  background-color: #ececec !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.panel-heading {
  border-top: none;
  border-left: none;
  border-right: none;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  margin-bottom: 2px;
}
.panel-body {
  background-color: #ffffff;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.panel-body.transperent {
  background-color: #ececec !important;
}
.panel-heading-control {
  margin-top: 15px;
}
@media (min-width: 992px) {
  .panel-heading-control {
    margin-top: 0px !important;
  }
}
.panel-body {
  padding: 0px;
  margin-top: 15px;
}
.panel-footer {
  border: none;
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.kpi-notify .modal-content {
  background-color: #09638f;
  color: #ffffff;
}
.kpi-dialog .modal-content {
  background-color: #ffffff;
  color: #09638f;
  border-color: #08547a;
}
.kpi-dialog .modal-header {
  background-color: #09638f;
  color: #ffffff;
}
.kpi-dialog .modal-header .close {
  color: #ffffff;
}
.tooltip-inner {
  background-color: #08547a;
  color: #ffffff;
}
.tooltip-arrow {
  border-bottom-color: #08547a !important;
}
.modal-body {
  max-height: calc(100vh - 150px);
  overflow-y: auto;
}
.item-box {
  background-color: #ffffff;
  border-radius: 6px;
  height: 300px;
  margin-bottom: 15px;
  margin-top: 15px;
  color: #09638f;
}
.item-box:hover {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 1px 3px 20px 0 rgba(0, 0, 0, 0.3);
}
.item-box .item-box-heading {
  padding: 15px;
  height: 54px;
  font-size: 18px;
  border-bottom: solid 1px #ececec;
}
.item-box .item-box-heading .btn {
  padding: 0 !important;
}
.item-box .item-box-heading .btn:hover,
.item-box .item-box-heading .btn:active,
.item-box .item-box-heading .btn:focus {
  box-shadow: none;
}
.item-box .item-box-heading .item-title {
  width: 90%;
  float: left;
}
.item-box .item-box-heading .item-label {
  float: right;
}
.item-box .item-box-heading .item-label .fa {
  font-size: 24px !important;
}
.item-box .item-box-body {
  height: 192px;
  padding: 8px 0 8px;
  font-size: 14px;
}
.item-box .item-box-body .col-header {
  font-size: 16px;
  font-weight: 600;
}
.item-box .item-box-footer {
  border-top: solid 1px #ececec;
  height: 54px;
  margin: auto;
  padding: 8px 0 8px;
  text-align: center;
}
.item-box .item-box-footer .btn {
  margin: 2px;
}
.item-box .item-box-footer .btn.btn-sm .fa {
  width: 12px;
}
.item-box .item-box-footer .btn:hover,
.item-box .item-box-footer .btn:active,
.item-box .item-box-footer .btn:focus {
  box-shadow: none;
}
.kpi-label-red {
  color: #e21a24;
}
.kpi-label-blue {
  color: #2d49d7;
}
.kpi-label-green {
  color: #08c071;
}
.kpi-label-default {
  color: #0a7db5;
}
.kpi-label-orange {
  color: #fda606;
}
.kpi-label-purple {
  color: #a00ebc;
}
#project-type-kpi .form-group {
  margin-bottom: 0px !important;
}
#project-type-kpi .list-group-item .fa {
  display: none;
}
#project-type-kpi .list-group-item:hover .fa {
  display: block;
}
.nav-tabs > li > a:hover {
  background-color: #0a7db5 !important;
  color: #ffffff;
}
.nav-tabs > li > a {
  border-radius: 0px;
  color: #09638f;
}
.nav-tabs > li.active > a {
  font-weight: bold;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 2px solid #09638f !important;
  color: #09638f !important;
  background-color: #ffffff !important;
}
.tab-content {
  color: #09638f;
}
#available-kpis .list-group {
  border-color: rgba(16, 130, 225, 0.37);
}
#available-kpis .list-group .list-group-item {
  color: #09638f;
  border-color: #ffffff;
  background-color: #DFDFDF;
  margin-top: 1px;
}
#available-kpis .list-group .list-group-item:hover {
  color: #ffffff;
  border-color: #ffffff;
  background-color: #0a7db5;
  margin-top: 1px;
}
#associated-kpis .list-group {
  border-color: rgba(16, 130, 225, 0.37);
}
#associated-kpis .list-group .list-group-item {
  color: #ffffff;
  border-color: #ffffff;
  background-color: #0a7db5;
  margin-top: 1px;
}
#associated-kpis .list-group .list-group-item:hover {
  color: #09638f;
  border-color: #ffffff;
  background-color: #DFDFDF;
  margin-top: 1px;
}
